<html>
	<head>
		<link rel="stylesheet" href="/style/main.css" />
	</head>
	<body>
		<main class="main">
			<section class="weather">
				<img src="./img/sun.svg" alt="iconWeather" class="weatherImg" />
				<p><%= forecast[0].time %></p>
				<p><%= forecast[0].temperature %> °C</p>
			</section>
			
	</body>
</html>