* {
	margin: 0;
	padding: 0;
}

body {
	height: 100vh;
	width: 100vw;
	background-image: url(../img/blueSky.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-top: 50px;
	width: 1700px;
	gap: 50px;
	margin-right: auto;
	margin-left: auto;
}

.weather {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	gap: 10px;
	height: 10%;
	width: 10%;
	color: whitesmoke;
}

.weatherImg {
	height: 60px;

	object-fit: contain;
}

.news {
	height: 60%;
	width: 80%;
	gap: 60px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.newsBlock {
	max-height: 400px;
	width: 100%;

	display: flex;
	justify-content: space-between;
}

.newsList {
	width: 30%;

	display: flex;
	flex-direction: column;

	align-items: center;
	overflow-y: auto;
}

.jvImg {
	height: 200px;
	width: 100%;
	object-fit: cover;
}
.infoContainer {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	min-height: 30%;
}
.cineNews {
	height: 30%;
	width: 60%;
	display: flex;
	gap: 10px;
	justify-content: center;
	overflow-x: auto;
}

.infoTrain {
	display: flex;
	justify-content: space-around;
	gap: 15px;
	padding-top: 18px;
}

.train {
	background-color: rgb(217, 217, 217);
	display: flex;
	flex-direction: column;
	align-items: center;

	min-height: 80px;
}
.jvTitle {
	background-color: red;
	width: 100%;
	text-align: center;
	max-height: 30px;
}

.trainTitle {
	background-color: rgb(118, 132, 168);
	width: 100%;
	text-align: center;
}

.cine {
	height: 100%;
}

.cineImg {
	object-fit: cover;
	height: 210px;
}

.cineTitle {
	display: flex;
	align-items: center;

	text-align: center;
	background-color: rgb(38, 35, 168);
	height: 40px;
	max-height: 40px;
}
